.grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    
 
}
.card{
    margin: 20px;
    border: 2px solid black;
    box-shadow: 4px 5px 9px gray;
    border-radius: 10px;
    
}
.card:hover{
   background-color: rgb(225, 208, 208);
}
/* .card-info>img{
    height: 100%;
    width: 100%;
    object-fit: cover;} */